:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
    --azul:#304352;
    --rosa:#e44c65;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 16px / 24px "Rubik", sans-serif;
    color: var(--black);
    background: var(--platinum);
    margin: 50px 0;
}

.badge-error {
    background-color: #b94a48;
}
.badge-success {
    background-color:#5cc45e;
}


.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 1em;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card {
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;

    border: none;
}

.card:hover {
    color: var(--white);
    background: var(--azul);
}
.card-cabecera {
    display: flex;
    align-items: flex-start;
}

.card-cabecera-titulo {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.card .card-title {
    margin: 0;
    font-size: 25px;
}
.card .card-subtitle{
    margin-top: 0;
    margin-right:auto;
    font-size: 20px;
}

.card .card-detalle{
    font-size: 15px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--rosa);
    padding: 6px 12px;
    border-radius: 8px;
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.card:hover .card-link {
    background: var(--rosa);
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--azul);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 40px;
    }
}